
{{#partial "pageTitle"}}
    {{i18n.homePageTitle}}
{{/partial}}


{{#partial "content"}}
    <!-- ======= Hero Section ======= -->
    <main id="hero" class="container overflow-auto text-center mt-5 p-5">
      <h1>Admin Page</h1>
      <p>Only an user with the role of Admin can access this endpoint.</p>
    </main>
{{/partial}}

{{> layouts/Bootstrap-Navbar.html.hbs }}