
{{#partial "pageTitle"}}
    {{i18n.homePageTitle}}
{{/partial}}


{{#partial "content"}}
    <!-- ======= Hero Section ======= -->
    <main id="hero" class="container overflow-auto text-center">
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6 mx-auto">
                <img
                src="https://sparkjava.com/img/logo.svg"
                class="d-block mx-lg-auto img-fluid user-select-none"
                alt="Spark"
                height="auto"
                width="100%"
                loading="lazy"
                />
            </div>
            <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">{{i18n.homeDisplayTitle}}</h1>
            <p class="lead">{{i18n.homeLeadText}}</p>
            <div>
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
                Demo
              </button>
              <a type="button" class="btn btn-outline-primary btn-lg px-4" href="https://tomasanchez.github.io">
                About
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
{{/partial}}

{{> layouts/Bootstrap-Navbar.html.hbs }}